pandas
numpy
Pillow
torch
torchvision
ftfy
regex
git+https://github.com/openai/CLIP.git
transformers
accelerate
qwen-vl-utils
google-genai
sentencepiece
python-dotenv
kagglehub
scikit-learn
matplotlib